*#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../public/wallpaper.png) ;
}

#contenedor > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
}
#contenedor > h1 {
  border: 5px solid red;
  background-color: white;
}

.details {
  border: 4px black solid;
  background-image: url(../public/wallpaper.png);
}

.cjas:hover {
  color: red;
  transform: translateY(-5px);
}

.cardPokemon {
  width: 200px;
  border: 1px solid black;
  background-color: rgba(218, 218, 58, 0.877);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cardPokemon > div {
  height: 150px;
}

a {
  text-decoration: none;
  color: black;
}

.cardPokemon > div > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cardPokemon > h1 {
  text-transform: capitalize;
}

.cardPokemon > h1,
.cardPokemon > p {
  margin: 0;
}